*.zip
*.wav
*.m4a
app/website/__pycache__/dl_youtube.cpython-39.pyc
.gitignore
app/website/__pycache__/views.cpython-39.pyc
app/website/__pycache__/youtube_dl.cpython-39.pyc
app/website/__pycache__/process_audio.cpython-39.pyc
app/website/__pycache__/__init__.cpython-39.pyc
app/website/__pycache__/__init__.cpython-39.pyc
saved_models/speakers_classification.hdf5
__pycache__/extract_features.cpython-39.pyc
app/__pycache__/__init__.cpython-39.pyc
app/__pycache__/extract_features.cpython-39.pyc
app/website/__pycache__/extract_features.cpython-39.pyc
app/website/__pycache__/__init__.cpython-39.pyc
app/website/__pycache__/views.cpython-39.pyc
app/website/__pycache__/__init__.cpython-39.pyc
.gitignore
app/website/__pycache__/__init__.cpython-39.pyc
saved_models/gmm/*.sav
