{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Enter Youtube URL</h1>
      
  </br>
    <form method="POST">
      <textarea name="note" id="note" class="form-control">http://www.youtube.com/watch?v=BaW_jenozKc</textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Process</button>
      </div>
    </form>
  </br>
  </br>
  <h4 align="center">or</h4>
</br>
  <h1 align="center">Audio Recording Test</h1>

    <p align="center">Talk for 3 seconds, then you will hear your recording played back</p>
    <script src="index.js"></script>
  </br>
    <div align="center">
      <button id="action" class="btn btn-primary" onclick="handleAction()">Start recording</button>
    </div>
    {% endblock %}
    
    
