{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Clip Segments</h1>
    </br>
    <h2 align="center">{{title}}</h2>
    </br>
    <table align="center">
      <tr>
        <th>Segment</th>
        <!-- <th>Probabilities</th> -->
        <th>NN Predicted Speaker</th>
        <th>GMM Predicted Speaker</th>
        <!-- <th>Listen</th> -->
      </tr>
      {% for key, value in pred_dict.items() %}
      <tr>
         <td class="c2">{{ key }}</td>
         <!-- <td class="c3">{{value.y_pred_nn}}</td> -->
         <td class="c4"><SPAN>{{value.matched_speaker_nn}}</SPAN></td>
         <td class="c4"><SPAN>{{value.matched_speaker_gmm}}</SPAN></td>
         <!-- <td class="c5"><button type="button" class="bi bi-play" onClick="playSound('{{ key }}')">
          <span aria-hidden="true">&times;</span>
        </button></td> -->
      </tr>
      {% endfor %}
      </table>
    {% endblock %}