{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Clip Segments</h1>
    <table align="center">
      <tr>
        <th>Segment</th>
        <th>Probabilities</th>
        <th>Speaker</th>
      </tr>
      {% for key, value in pred_dict.items() %}
      <tr>
         <td class="c2">{{ key }}</td>
         <td class="c3">{{value.preds}}</td>
         <td class="c4"><SPAN>{{value.speaker}}</SPAN></td>
      </tr>
      {% endfor %}
      </table>
    {% endblock %}